* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f6f8;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #be0d1f;

}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

button {
  padding: 10px 15px;
  background: #be0d1f;
  border: none;
  border-radius: 8px;
  color: white;
}

.add-product{
  padding:20px;
}

h2 {
  margin-bottom: 15px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

